*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



/* shared styles */

.navbar-gray{
    color: #8987A1;
}
.navbar-black{
    color: #252432;
}
.subtitle-color{
    color: var(--gary1);
    opacity: 50%;
}

.title-blck{
    color: #000000;
}
.title-red{
    color: #E95A08;
}
.card-black{
    color: #111111;
}
.flex{
    display: flex;
}

/* navbar */

nav{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    font-family: sans-serif;
}
ul{
     gap: 2rem;
}

ul li {
    list-style: none;
   
}

/* hero */
.hero div{

    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
   
}
.hero p{
   font: 2rem;
   
}
h1{
    font-size: 4rem;
}




.intro{
    text-align: center;
    padding: 3rem 0;
    width: 80%;
    margin: 0 auto;
}

/* card conaitlner */

.card{
    width: 100%;
    text-align: center;
}
.card img{
    width: 100%;
    padding-bottom: 1rem;
}
.card p{
    padding-bottom: 1rem;
    font-weight: bold;
}
.card button{
    border: none;
    background-color: #E95A08;
    width: 100%;
    padding: 1rem;
    color: white;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}






@media only screen and (max-width: 600px) {
  .hero{
    flex-direction: column-reverse;
  }
  ul li{
    font-size: 2rem;  
  }
  nav{
    align-items: flex-end;
  }

  ul li:nth-child(-n+3){
   display: none;
  }

  .card-container{
    grid-template-columns: repeat(2,1fr);
   
    
  }
}