* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  overflow-x: hidden;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared styles */

.navbar-gray {
  color: #8987a1;
}
.navbar-black {
  color: #252432;
}
.subtitle-color {
  color: var(--gary1);
  opacity: 50%;
}

.title-blck {
  color: #000000;
}
.title-red {
  color: #e95a08;
}
.card-black {
  color: #111111;
}
.flex {
  display: flex;
}

/* navbar */

nav {
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  font-family: sans-serif;
}
ul {
  gap: 2rem;
}

ul li {
  list-style: none;
}

/* hero */
.hero div {
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
}
.hero p {
  font: 2rem;
}
h1 {
  font-size: 4rem;
}

.intro {
  text-align: center;
  padding: 3rem 0;
  width: 80%;
  margin: 0 auto;
}

/* card conaitlner */

.card {
  width: 100%;
  text-align: center;
}
.card img {
  width: 100%;
  padding-bottom: 1rem;
}
.card p {
  padding-bottom: 1rem;
  font-weight: bold;
}
.card button {
  border: none;
  background-color: #e95a08;
  width: 100%;
  padding: 1rem;
  color: white;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

/* truster-plant */
.promo-section {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 8rem;
}

.image-wrapper {
  position: relative;
  flex: 1;
}

.image-wrapper img:first-child {
  width: 100%;
  border-radius: 8px;
}

.badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 50%;
  transform: translate(50%, -50%);
  z-index: 1;
}

.content .heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #000;
}

.feature-list {
  list-style-type: disc;
  color: #555;
  line-height: 1.6;
}

.feature-list li {
  margin-bottom: 1rem;
  font-size: 1rem;
  max-width: 500px;
}

/* latest */
.latest {
  width: 100%;
  padding: 4rem;
  border-radius: 1rem;
  background: linear-gradient(rgb(35, 35, 35), transparent),
    url("./assets/deal-bloom.png");
  background-size: cover;
  background-position: center;

  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}
.latest div {
  color: white;
  font-size: 2rem;
  text-align: center;
}




.latest2 {
  width: 100%;
  padding: 4rem;
  border-radius: 1rem;
  background: linear-gradient(rgb(35, 35, 35), transparent),
    url("./assets/deal-ana.png");
  background-size: cover;
  background-position: center;

  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}
.latest2 div {
  color: white;
  font-size: 2rem;
  text-align: center;
}




.latest3 {
  width: 100%;
  padding: 4rem;
  border-radius: 1rem;
  background: linear-gradient(rgb(35, 35, 35), transparent),
    url("./assets/deal-zabo.png");
  background-size: cover;
  background-position: center;

  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}
.latest3 div {
  color: white;
  font-size: 2rem;
  text-align: center;
}

/* jouin */

.join{
  background-image: url("./assets/news-letter-bg.png");
  
 padding: 4rem;
  margin: 3rem 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
    justify-content: center;
  align-items: center;
  margin-inline: calc(50% - 50vw);
}

.join div{
  color: white;
  text-align: center;
}
.join div P{
  font-size: 1.5rem;
}
.join div div input[type="search"]{
  padding: 1rem ;
  
  
}
label{
  background-color: #e95a08;
  padding: 1rem ;

}

footer{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  gap: 3rem;
  
}


footer ul{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column-reverse;
  }
  ul li {
    font-size: 2rem;
  }
  nav {
    align-items: flex-end;
  }

  ul li:nth-child(-n + 3) {
    display: none;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .badge {
    display: none;
  }
  .promo-section {
    flex-direction: column;
  }

  .latest-container section{
  margin: 1rem 0;
}
footer{
  grid-template-columns: repeat(1,1fr);
}

footer ul{
  grid-template-columns: repeat(1,1fr);
}

}


















@media only screen and (min-width: 600px) {

  .latest-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  
  }

  .latest2{
    grid-row: span 2;
  }

}